body{
margin:0;
font-family:sans-serif;
overflow-x:hidden;
background:black;
color:white;
scroll-snap-type:y mandatory;
}

.slide{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
scroll-snap-align:start;
text-align:center;
}

.photo{
width:80%;
border-radius:20px;
}

button{
padding:15px 25px;
margin:10px;
font-size:20px;
border:none;
border-radius:30px;
cursor:pointer;
}

#yes{background:#00e676;}
#no{background:#ff1744;position:absolute;}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}
